<form action='/pirates' method='POST'>
  <h1>Pirate!</h1>
  <label for="pirate_name">Name</label>
  <input id="pirate_name"type="text" name="pirate[name]"/>
  <label for="pirate_weight">Weight</label>
  <input id="pirate_weight"type="text" name="pirate[weight]"/>
  <label for="pirate_height">Height</label>
  <input id="pirate_height"type="text" name="pirate[height]"/>

  <h1>Ship(s):</h1>
  <label for="ship_1_name">Name</label>
  <input id="ship_1_name"type="text" name="pirate[ships][][name]"/>
  <label for="ship_1_type">Type</label>
  <input id="ship_1_type"type="text" name="pirate[ships][][type]"/>
  <label for="ship_1_booty">Booty</label>
  <input id="ship_1_booty"type="text" name="pirate[ships][][booty]"/>
  <br>
  <label for="ship_2_name">Name</label>
  <input id="ship_2_name"type="text" name="pirate[ships][][name]"/>
  <label for="ship_2_type">Type</label>
  <input id="ship_2_type"type="text" name="pirate[ships][][type]"/>
  <label for="ship_2_booty">Booty</label>
  <input id="ship_2_booty"type="text" name="pirate[ships][][booty]"/>
  <br>
  <input type="submit" value"Submit>
</form>
